$breakpoints: (
	'sm' : 576px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px,
);

// CREDIT : Color names from "Name that Color" : https://chir.ag/projects/name-that-color
$colors: (
  'white': #fff,
  'silver': #ccc,
  'black': #333,
);

// fonts

$font-stacks: (
  'titles': ('Exo 2', sans-serif),
  'content': ('Open Sans', sans-serif),
);
